/* Définition des polices */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    font-family: 'Roboto', serif;
    font-size: 16px;
    text-transform: initial;
}

:root {
    --coul-principale: #45BEEB;
    --coul-secondaire: #1A1F37;
    --coul-ternaire: #FFFFFF;
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 19px;
    font-weight: 700;
    color: var(--coul-principale);
    text-transform: uppercase;
}

h2 {
    font-size: 16px;
    font-weight: 600;
}

label,
p,
form input[type="submit"] {
    font-family: 'Roboto', serif;
    font-size: 16px;
}

/* Fin définition des polices */

.hidden {
    display: none !important;
}

.text-center {
    text-align: center;
}

.alert {
    border: 1px solid;
    border-radius: 5px;
    padding: 15px 20px;
    margin: 15px 0;
    color: #FFFFFF;
}

.alert-info {
    border-color: #6a69c0;
    background-color: #6982c0;
}

.alert-danger {
    border-color: #c06969;
    background-color: #c06969;
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

.card {
    border: 1px solid #d9D9D9;
    border-radius: 5px;
}

.card>a {
    margin: 15px;
}

.btn {
    border-radius: 15px;
    border-color: transparent;
    padding: 10px;
    text-transform: uppercase;
}

.btn-primary {
    background-color: #6BCEE8;
}

.text-white {
    color: #FFFFFF !important;
}

form input:not([type="submit"], form input[type="hidden"]),
form select[name="form_login_dns"] {
    background-color: #163460;
    border-color: #D9D9D9;
    border-radius: 5px;
    color: #FFFFFF;
    font-size: 16px;
    height: 30px;
}

.full-width {
    width: 100%;
}

.full-heigt {
    height: 100%;
}

a:link,
a:visited {
    color: var(--coul-principale);
}

.d-inline {
    display: inline;
}

.d-block {
    display: block;
}
.small-separator {
    width: 33%;
    border: 2px solid var(--coul-principale);
    margin-left: 0;
}