/* Définition des polices */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    font-family: 'Roboto', serif;
    font-size: 16px;
    text-transform: initial;
}

:root {
    --coul-principale: #45BEEB;
    --coul-secondaire: #1A1F37;
    --coul-ternaire: #FFFFFF;
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 19px;
    font-weight: 700;
    color: var(--coul-principale);
    text-transform: uppercase;
}

h2 {
    font-size: 16px;
    font-weight: 600;
}

label,
p,
form input[type="submit"] {
    font-family: 'Roboto', serif;
    font-size: 16px;
}

/* Fin définition des polices */

/* Définition style de base de la page */
.container {
    display: flex;
}

.sidenav {
    height: 100%;
    width: 14vw;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #C4C8DA;
    overflow-x: hidden;
    overflow-y: auto;
}

.sidenav aside {
    margin: 20px 15px 20px 20px;
}

.sidenav aside>div:nth-of-type(1),
.sidenav aside nav {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.sidenav a {
    padding: 15px 8px 6px 0;
    text-decoration: none;
    color: #000000;
    display: block;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
}

.sidenav .separator {
    border-color: #0000004D;
}

.sidenav nav a i::before {
    background-color: var(--coul-secondaire);
    font-size: 19px;
    border-radius: 10px;
    padding: 5px;
    color: var(--coul-principale);
}

.sidenav nav a i span {
    font-weight: lighter;
}

.sidenav aside div:nth-of-type(3) {
    position: absolute;
    bottom: 20em;
}

.sidenav aside div:nth-of-type(4) {
    position: absolute;
    bottom: 2em;
}

.main {
    margin-left: 14vw;
    /* Same as the width of the sidenav */
    word-wrap: break-word;
    max-width: calc(100vw - 14vw);
    height: calc(100vh - 40px);
    padding: 20px 60px;
    background-color: #D9D9D9;
    background-image: url('../img/logo_erp.png');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    flex-grow: 1;
    overflow-y: auto;
    gap: 20px;
}

@media screen and (max-width: 768px) {

    /* Styles pour les écrans d'une largeur maximale de 768px (tablettes et smartphones) */
    .container {
        flex-direction: column;
    }

    .sidenav {
        width: 15%;
        overflow-y: auto;
    }

    .sidenav nav {
        justify-content: center;
    }

    .sidenav h1,
    .sidenav span {
        display: none;
    }

    .main {
        width: 90%;
    }
}

.main .contenu {
    padding: 1vw;
}
nav span {
    color: #000000;
}
.main .contenu .card-title div input { 
    position: absolute;
    left: calc(100vw - 15em);
}
/* Fin définition style de base de la page */

.hidden {
    display: none !important;
}

.text-center {
    text-align: center;
}

.alert {
    border: 1px solid;
    border-radius: 5px;
    padding: 15px 20px;
    margin: 15px 0;
    color: #FFFFFF;
}

.alert-info {
    border-color: #6a69c0;
    background-color: #6982c0;
}

.alert-danger {
    border-color: #c06969;
    background-color: #c06969;
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

.card {
    border: 1px solid #d9D9D9;
    border-radius: 5px;
}

.card>a {
    margin: 15px;
}

.btn {
    border-radius: 5px;
    border-color: transparent;
    padding: 7px;
    text-transform: uppercase;
}

.btn-primary {
    background-color: #6BCEE8;
}

.btn-success {
    background-color: #21b700;
    color: var(--coul-ternaire);
}

.text-white {
    color: #FFFFFF !important;
}

form input:not([type="submit"], form input[type="hidden"]),
form select {
    background-color: #163460;
    border-color: #D9D9D9;
    border-radius: 5px;
    color: #FFFFFF;
    font-size: 16px;
    height: 30px;
}

.full-width {
    width: 100%;
}

.full-heigt {
    height: 100%;
}

a:link,
a:visited {
    color: var(--coul-principale);
}

.d-inline {
    display: inline;
}

.d-block {
    display: block;
}

.small-separator {
    width: 33%;
    border: 2px solid var(--coul-principale);
    margin-left: 0;
}