body {
    color: var(--coul-ternaire);
    background-color: var(--coul-secondaire);
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    width: 100px;
    aspect-ratio: 3/4;
    margin-bottom: 2em;
}

form>div:nth-of-type(2), form>div:nth-of-type(3) {
    margin-bottom: 1em;
}