section {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 65% 35%;
}

.gauche {
    background-color: #F2ABBF;
}

.droit {
    background: linear-gradient(180deg, #0F213B 0%, #0F213B 0.01%, #0F133B 100%);
}

.droit>div {
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    margin-top: 30%;
    padding: 0 50px;
}

.droit form label {
    display: block;
    padding-top: 20px;
}

form>div:nth-of-type(1) {
    margin-top: 25px;
}

form>div:nth-of-type(2) {
    padding-bottom: 50px;
}

.gauche img {
    position: absolute;
    width: 40em;
    height: 25em;
    right: 60em;
    transform: rotate(180deg);
}