section {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 65% 35%;
}

.gauche {
    background-color: var(--coul-principale);
}

.droit {
    background: linear-gradient(180deg, #0F213B 0%, #0F213B 0.01%, #0F133B 100%);
}

.droit>div {
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    margin-top: 30%;
    padding: 0 50px;
}

.droit form label {
    display: block;
    padding-top: 20px;
}

form>div:nth-of-type(1) {
    margin-top: 25px;
}

form>div:nth-of-type(3) {
    padding-bottom: 50px;
}

form>p {
    padding-bottom: 25px;
}

.gauche img {
    position: absolute;
    width: 40em;
    height: 52em;
    right: 50%;
    bottom: 0;
}

/* Formation */
#form_connexion_container {
    border: 1px solid #ced4da;
    border-radius: 20px;
    padding: 15px;
    margin-top: 15px;
}

#form_logo_login {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 33vw;
    height: 10vh;
    margin-bottom: 10px;
} 