body {
    color: var(--coul-ternaire);
    background-color: var(--coul-secondaire);
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    width: 100px;
    aspect-ratio: 3/4;
    margin-bottom: 2em;
}

form input, form p {
    margin-bottom: 1em;
}

form input::placeholder {
    color: var(--coul-ternaire)!important;
}